
    <tr>
    <td></td>
    <td colspan='8'>
    <%= render :partial => 'timeline', :object => timeline_successor, :locals => {:should_be_in_progress => should_be_in_progress} %>
    </td>
    </tr>